footer {
    text-align: center;
    padding: 10px;
    background-color: #5E7897;
    color: white;
    position: absolute;
    width: -webkit-fill-available;
    bottom: 0;
}
footer span {
    color: #A70D22;
}