/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0D2A45;
    color: white;
    padding: 10px 20px;
    position: relative;
    height: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
    display: none; /* Masqué par défaut */
}

.burger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #f0a500;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Animation lors de l'ouverture */
.burger.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Par défaut, le menu est affiché */
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}

.menu li a:hover {
    background-color: #f0a500;
    color: #333;
    font-weight: bolder;
}


/* Styles pour petit écran */
@media screen and (max-width: 768px) {
    .menu {
        display: none; /* Masquer le menu par défaut */
        flex-direction: column;
        position: absolute;
        top: 0; /* Placer le menu juste en haut, à la même position que le header */
        left: 0;
        width: 100%; /* Prendre toute la largeur de l'écran */
        background-color: #444;
        margin: 55px 0 10px; /* Ajuster l'espace intérieur : 60px pour compenser la hauteur du header */
        z-index: 1000;
        align-items: center;
    }

    .menu.show {
        display: flex; /* Afficher le menu quand actif */
    }

    .menu li {
        margin: 10px 0; /* Espacement vertical entre les liens */
    }

    .menu li a {
        padding: 10px 20px; /* Ajouter de l'espace autour des liens */
        font-size: 1.2rem;
    }

    .burger {
        display: flex; /* Afficher le bouton burger sur petit écran */
    }
}

