.card {
    width: 443px;
    height: 572px;
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 90%), /* Dégradé transparent vers noir */
        url('../images/supra_mk5.jpg'); /* Image de fond */
    background-size: cover; /* Ajuste pour remplir le conteneur */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition */
    border-radius: 15px;
    padding: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:end ;
}
.jetaime{
    display: flex;
    align-items: center;
    justify-content: space-between;
}