.presentation{
    background-color: #f8f9fa;
    padding: 50px 0;
    width: 50vw;
    display: flex;
    flex-direction: row;
}

.presentation img{
    width: 20vw;
    height: 20vw;
    object-fit:cover;
    border-radius: 50%;
}