body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
.allContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.insta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .insta {
        flex-direction: column;
    }
}